body {
margin: 0;
font-family: Arial, sans-serif;
background: #302e2e;
color: #ffffff;
}
header {
background: #131313;
color: #ffffff;
padding: 1.5rem;
text-align: center;
}
nav {
display: flex;
justify-content: center;
gap: 2rem;
margin-top: 0.5rem;
}
nav a {
color: #ffffff;
text-decoration: none;
font-weight: bold;
}
.hero {
padding: 4rem 1rem;
text-align: center;
background: #252424;
color: #747474;
}
.hero h1 {
font-size: 2.5rem;
margin-bottom: 1rem;
}
.section {
max-width: 1250px;
margin: 2rem auto;
background: #ffffff;  
color: #000000;       
padding: 2rem;
border-radius: 10px;
box-shadow: 0 3px 8px rgba(255,255,255,0.1); 
}
.projects {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 1.5rem;
}
.project-card {
background: #242222;
color: #ffffff;
padding: 1rem;
border-radius: 8px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
display: flex;              
flex-direction: column;     
justify-content: space-between;  
}
.button {
cursor: pointer;
background: #ffffff;
width: 75%;
border-radius: 8px;
border: #242222;
display: block;       
margin: 1rem auto 0 auto;     
}
footer {
text-align: center;
padding: 2rem;
color: #777;
}

